* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {

    background: linear-gradient(#222,#111);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

body::after {

    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(40% at right 75%);
    z-index: -1;
}

.container {

    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
   
}

nav {
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 0;

}

nav .logo {

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

nav .logo:hover {

    text-transform: capitalize;
    rotate: 10deg;
    color: rgb(119, 119, 207);


    
}

nav ul li {

    display: inline-block;
    margin: 0 6px;


}

nav ul li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;





}

nav ul li a:hover {

    color: rgb(200, 34, 34);


}


.content {

    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.content .text {

    color: #fff;
    width: 40%;
}

.content .text h2 {

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.content .text p {

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 10px 0;

}

.content .image {

    width: 40%;
}

.content .image img {

    width: 400px;
}

.content .image img:hover {

    width: 450px;
    cursor: pointer;


}

@media (min-width:950px) and (max-width: 1150) {

.content .image img {

    width: 320px;
}

}

@media (max-width: 950px)  {
    .content ,  nav {   
      flex-direction: column;
      justify-content: center;
      
    }

    .content .image, .content .text {

        width: 80%;
    }


    
    body::after {

        clip-path: circle(40% at bottom);
    }
  }